# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
docker/volumes/

# Logs
*.log
